<section data-ng-controller="OrderPlanningOperationDetailsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Order planning operation details</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="orderPlanningOperationDetail in orderPlanningOperationDetails" data-ng-href="#!/order-planning-operation-details/{{orderPlanningOperationDetail._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="orderPlanningOperationDetail.created | date:'medium'"></span>
				by
				<span data-ng-bind="orderPlanningOperationDetail.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="orderPlanningOperationDetail.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!orderPlanningOperationDetails.$resolved || orderPlanningOperationDetails.length">
    	No Order planning operation details yet, why don't you <a href="/#!/order-planning-operation-details/create">create one</a>?
    </div>
</section>