<section data-ng-controller="OrderRegistrationRootsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Order registration roots</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="orderRegistrationRoot in orderRegistrationRoots" data-ng-href="#!/order-registration-roots/{{orderRegistrationRoot._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="orderRegistrationRoot.created | date:'medium'"></span>
				by
				<span data-ng-bind="orderRegistrationRoot.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="orderRegistrationRoot.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!orderRegistrationRoots.$resolved || orderRegistrationRoots.length">
    	No Order registration roots yet, why don't you <a href="/#!/order-registration-roots/create">create one</a>?
    </div>
</section>