<section data-ng-controller="YarnPurchaseOrdersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Yarn purchase orders</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="yarnPurchaseOrder in yarnPurchaseOrders" data-ng-href="#!/yarn-purchase-orders/{{yarnPurchaseOrder._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="yarnPurchaseOrder.created | date:'medium'"></span>
				by
				<span data-ng-bind="yarnPurchaseOrder.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="yarnPurchaseOrder.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!yarnPurchaseOrders.$resolved || yarnPurchaseOrders.length">
    	No Yarn purchase orders yet, why don't you <a href="/#!/yarn-purchase-orders/create">create one</a>?
    </div>
</section>