<section data-ng-controller="OrderPlanningsController">
    <div class="page-header">
        <h1>New Order planning</h1>
    </div>
    <div class="col-md-12">
        <form data-ng-submit="create()" novalidate>
            <fieldset>
	<div class="row">
                <div class="form-group col-md-2">
                    <label class="control-label" for="orderNo">Order number</label>
                        <input type="text" data-ng-model="orderNo" id="orderNo" class="form-control" placeholder="Eg: 000712" required>
                </div>
                <div class="form-group col-md-4 col-md-offset-0.5">
                    <label class="control-label" for="buyerName">Buyer name</label>
                        <input type="text" data-ng-model="buyerName" id="buyerName" class="form-control" placeholder="Eg: Chennai Silks Pvt. Ltd." required>
                </div>
	<div class="row col-md-8">
                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                        <textarea row="4" data-ng-model="description" id="description" class="form-control" placeholder="Enter required description" required>
                </div>
	</div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>


orderNo
description
buyerName
