<section data-ng-controller="CostingSheetsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Costing sheets</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="costingSheet in costingSheets" data-ng-href="#!/costing-sheets/{{costingSheet._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="costingSheet.created | date:'medium'"></span>
				by
				<span data-ng-bind="costingSheet.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="costingSheet.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!costingSheets.$resolved || costingSheets.length">
    	No Costing sheets yet, why don't you <a href="/#!/costing-sheets/create">create one</a>?
    </div>
</section>